[submodule "src/DearImGui/imgui"]
	path = src/DearImGui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "molecular-gfx"]
	path = molecular-gfx
	url = https://github.com/petrarce/molecular-gfx.git
[submodule "molecular-programgenerator"]
	path = molecular-programgenerator
	url = git@github.com:petrarce/molecular-programgenerator.git
[submodule "molecular-util"]
	path = molecular-util
	url = https://github.com/cmdrf/molecular-util.git
[submodule "molecular-meshfile"]
	path = molecular-meshfile
	url = https://github.com/cmdrf/molecular-meshfile.git
[submodule "apps/LearnOpenGL"]
	path = apps/LearnOpenGL
	url = git@github.com:petrarce/LearnOpenGL.git
